.header {
  background: var(--color-background);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--content-width);
  min-height: 5.75rem;
  margin: 0 auto;
  min-width: 0;
}

.brand {
  position: relative;
  display: block;
  width: 13.125rem;
  height: 2.69375rem;
}

.symbol,
.wordmark {
  position: absolute;
  display: block;
}

.symbol {
  inset: 0 auto auto 0;
  width: 2.74375rem;
  height: 2.69375rem;
}

.wordmark {
  top: 0.746875rem;
  right: 0;
  width: 9.4125rem;
  height: 1.52875rem;
}

.navigation {
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
  color: var(--color-navigation);
  font-size: 0.875rem;
  font-weight: 500;
  list-style: none;
}

.navigation a:hover {
  color: var(--color-blue);
}

@media (max-width: 48rem) {
  .inner {
    min-height: 4.75rem;
  }

  .brand {
    width: 10rem;
    height: 2.0525rem;
  }

  .symbol {
    width: 2.09rem;
    height: 2.0525rem;
  }

  .wordmark {
    top: 0.56875rem;
    width: 7.171875rem;
    height: 1.164375rem;
  }

  .navigation {
    gap: 1rem;
  }
}

@media (max-width: 30rem) {
  .inner {
    gap: 0.25rem;
    min-height: 4.5rem;
  }

  .brand {
    flex: none;
    width: 7rem;
    height: 1.436875rem;
  }

  .symbol {
    width: 1.4625rem;
    height: 1.436875rem;
  }

  .wordmark {
    top: 0.398125rem;
    width: 5.020625rem;
    height: 0.815625rem;
  }

  .navigation {
    flex: none;
    gap: 0.5rem;
    font-size: 0.6875rem;
  }
}
